*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

.header {
  margin: 5.6rem 0 5rem 0;
  text-align: center;
}

.header-title {
  font-size: 1.62rem;
  font-weight: 200;
  color: #4c4e61;
  line-height: 2.4rem;
}

.header-content {
  font-size: 1.01rem;
  color: #a3a5ae;
  margin-top: 1rem;
  line-height: 1.7rem;
  padding: 0 0.5rem;
}

.header__container,
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 2rem;
}

.main__card {
  height: 14.8rem;
  text-align: left;
  -webkit-box-shadow: 0 20px 30px -2px #a3a5ae;
          box-shadow: 0 20px 30px -2px #a3a5ae;
  margin-bottom: 1.65rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  background: white;
}

.main__card:before {
  content: '';
  height: 4px;
  display: block;
  background: #45d3d3;
}

.main__card:nth-child(2):before {
  background: #ea5353;
}

.main__card:nth-child(3):before {
  background: #fcaf4a;
}

.main__card:nth-child(4):before {
  background: #549ef2;
}

.main__card-title {
  font-size: 1.32rem;
  font-weight: 600;
  color: #4c4e61;
  margin: 1.9rem 0 0.65rem 1.8rem;
  padding-left: 0.1rem;
}

.main__card-content {
  font-size: 0.87rem;
  color: #a3a5ae;
  padding: 0 1.95rem;
  line-height: 1.47rem;
}

.main__card-icon {
  position: absolute;
  right: 0px;
  padding: 1rem 2rem 2rem 2rem;
}

span {
  font-weight: 600;
}

@media (min-width: 1024px) {
  .header {
    margin: 5.4rem 0 1rem 0;
  }
  .header-title {
    padding: 0 5rem;
    font-size: 2.44rem;
  }
  .header__container {
    padding: 0 10rem;
    line-height: 3.4rem;
  }
  .header__content {
    font-size: 1.01rem;
    line-height: 1.6rem;
    width: 35.5rem;
    padding: 0;
    margin: 1.3rem auto;
  }
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    grid-gap: 1.5rem;
    margin: 4rem 2rem 4rem;
  }
  .main__card {
    margin-bottom: 0;
    height: 15.8rem;
  }
  .main__card-title {
    font-size: 1.34rem;
    margin: 2.25rem 0 0.8rem 2rem;
  }
  .main__card-content {
    font-size: 0.88rem;
    line-height: 1.55rem;
  }
  .main__card-icon {
    top: 150px;
  }
  .main__card:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    top: 8rem;
  }
  .main__card:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .main__card:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .main__card:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    top: 8rem;
  }
}
/*# sourceMappingURL=main.css.map */